<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="signUp">
		insert into test_mem(username, password, firstName, lastName, mobile) values(#{username}, #{password}, #{firstName}, #{lastName}, #{mobile})
	</insert>
	<!-- google 로그인 회원가입 -->
	<insert id="googleSignUp">
		insert into test_mem(username, password, firstName, lastName, googleID) values(#{username}, #{password}, #{firstName}, #{lastName}, #{googleID})
	</insert>
	
	<!-- 회원 전체 검색 -->
	<select id="listMember" resultType="com.spring.domain.MemberVO">
		select * from test_mem
	</select>
	
	<!-- 회원 전체 검색 (pagination 사용) -->
	<select id="manageList" resultType="com.spring.domain.MemberVO">
	select * from
		(select <![CDATA[rownum rno,]]> test_mem.* from test_mem)
	 where <![CDATA[rno>(#{pageNum}-1)*#{amount} and rno<=#{pageNum}*#{amount}]]>	
	</select>
	
	<!-- 특정 회원 검색 -->
	<select id="getMember" resultType="com.spring.domain.MemberVO">
		select * from test_mem where username=#{username}
	</select>
	
	<!-- 특정 회원 검색 -->
	<select id="checkPwd" resultType="com.spring.domain.MemberVO">
		select * from test_mem where username=#{username}
	</select>
	
	<!-- 회원 정보 변경 -->
	<update id="modify">
		update test_mem set password=#{confirm_password}, mobile=#{mobile}, country=#{country}, streetAddress=#{streetAddress}, detailAddress=#{detailAddress}, city=#{city}, state=#{state}, zipcode=#{zipcode} 
		where username=#{username}
	</update>
	<update id="modifyNull">
		update test_mem set mobile=#{mobile}, country=#{country}, streetAddress=#{streetAddress}, detailAddress=#{detailAddress}, city=#{city}, state=#{state}, zipcode=#{zipcode} 
		where username=#{username}
	</update>
	
	<!-- 임의의 비밀번호로 변경 -->
	<update id="forgetPwd">
		update test_mem set password=#{password} where username=#{username} 
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="leaveMember">
		delete from test_mem where username=#{username}
	</delete>
	
    <select id="getBySnsGoogle" resultType="com.spring.domain.MemberVO">
        select * from test_mem where googleid=#{googleid}
    </select>
    
    
    <!-- Admin Page -->
    <!-- 총 회원 인원 -->
    <select id="totalMember" resultType="int">
		select count(*) from test_mem
	</select>
    
    <!-- 회원관리 페이지 회원정보 수정 -->
    <update id="manageModify">
    	update test_mem set password=#{password}, mobile=#{mobile}, memLevel=#{memLevel}, 
    	firstName=#{firstName}, lastName=#{lastName}, country=#{country}, streetAdress=#{streetAdress}, 
    	detailAddress=#{detailAddress}, zipcode=#{zipcode}, auth=#{auth} where username=#{username}
    </update>
    
    <!-- Admin 계정 생성 -->
    <insert id="createAdmin">
    	insert into test_mem(username, password, mobile, firstName, lastName, auth) values(#{username}, #{password}, #{mobile}, #{firstName}, #{lastName}, #{auth})
    </insert>
    
    <!-- 회원 검색 -->
    <select id="searchMember" resultType="com.spring.domain.MemberVO">
    	select * from test_mem where username like '%'||#{keyword}||'%' 
    </select>
    
    <!-- 회원 검색 total-->
    <select id="searchTotal" resultType="int">
    	select count(*) from test_mem where username like '%'||#{keyword}||'%' 
    </select>
    
    <!-- Admin 제외 리스트 -->
    <select id="getNotAdmin" resultType="com.spring.domain.MemberVO">
    	select * from test_mem where auth like '%'||#{role}||'%'
    </select>
    
    <!-- Admin 제외 리스트 Total -->
    <select id="getNotAdminTotal" resultType="int">
    	select count(*) from test_mem where auth like '%'||#{role}||'%'
    </select>
    
    <!-- Admin 제외 검색 -->
    <select id="getNotAdminSearch" resultType="com.spring.domain.MemberVO">
    	select * from test_mem where username like '%'||#{memberCri.keyword}||'%' and auth like '%'||#{role}||'%'
    </select>
    
    <!-- Admin 제외 검색 Total-->
    <select id="getNotAdminSearchTotal" resultType="int">
    	select count(*) from test_mem where username like '%'||#{memberCri.keyword}||'%' and auth like '%'||#{role}||'%'
    </select>
    
    
    
    
    
    
    
    
    <!-- MyPage -->
    <!-- QnA select 쿼리 -->
    <select id="qnaList" resultType="com.spring.domain.BoardVO">
    	select * from board where writer=#{username} order by bno desc
    </select>
    
    <!-- 특정회원 게시물 pagination -->
    <select id="myPageList" resultType="com.spring.domain.BoardVO">
	select * from
		(select <![CDATA[/*+INDEX_DESC(board pk_board) */ rownum rno, ]]> board.* from board where writer=#{username})
	 where <![CDATA[rno>(#{memberCri.pageNum}-1)*#{memberCri.amount} and rno<=#{memberCri.pageNum}*#{memberCri.amount}]]>	
	</select>	
	
	<!-- 특정 인원 게시물 총 갯수 -->
	<select id="getTotalBoard" resultType="int">
		select count(*) from board where writer=#{username}
	</select>
	
	<!-- Order select 쿼리 -->
	<select id="orderList" resultType="com.spring.domain.MyPageOrderVO">
		select m.username, o.orderId, o.total, o.orderdate, od.ordersDetailNum, od.p_code, od.cart_stock, p.p_name, p.p_price, p.image 
		from test_mem m, orders o, orders_detail od, product p 
		where o.username=m.username and o.orderid=od.orderid and od.p_code=p.p_code and m.username=#{username} 
		order by o.orderdate desc
	</select>
	
	<!-- 특정 게시물의 댓글 가져오기 -->
	<select id="getReplyList" resultType="com.spring.domain.ReplyVO">
		select * from board_reply where bno=#{bno}
	</select>
	
	
	<!-- Security -->
	<!-- 세큐리티 실험중 -->
	<resultMap type="com.spring.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="username" column="username"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="com.spring.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<!-- SPRING_MEMBER Insert -->
	<insert id="SmemInsert">
		insert into SPRING_MEMBER(userid, userpw, username) values(#{username},#{password}, #{username})
	</insert>	
	<!-- SPRING_MEMBER_AUTH Insert -->
	<insert id="SmemAuthInsert">
		insert into SPRING_MEMBER_AUTH values(#{username}, #{auth})
	</insert>
	
	<!-- SPRING_MEMBER Delete -->
	<delete id="SmemDelete">
		delete from SPRING_MEMBER where userid=#{username}
	</delete>	
	<!-- SPRING_MEMBER_AUTH Delete -->
	<delete id="SmemAuthDelete">
		delete from SPRING_MEMBER_AUTH where userid=#{username}
	</delete>
	
	<!-- SPRING_MEMBER Update(mypage) -->
	<update id="SmemUpdateM">
		update SPRING_MEMBER set userpw=#{confirm_password} where userid=#{username}
	</update>
	<!-- SPRING_MEMBER Update(admin) -->
	<update id="SmemUpdateA">
		update SPRING_MEMBER set userpw=#{password} where userid=#{username}
	</update>
	
	<select id="read" resultMap="memberMap">
		select mem.userid, userpw, username, enabled, regdate, updatedate, auth
		from spring_member mem left outer join spring_member_auth auth on mem.userid = auth.userid
		where mem.userid = #{userid}
	</select>
</mapper>