<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">
	<insert id="signUp">
		insert into test_mem values(#{email}, #{password}, #{firstName}, #{lastName}, #{mobile})
	</insert>
	<select id="getMember" resultType="com.spring.domain.MemberVO">
		select * from test_mem where email=#{email}
	</select>
</mapper>