<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ProductMapper">

	<!-- <select id="searchList" resultType="com.spring.domain.ProductVO">
		select * 
		from product
		where p_code in
		(select p_code 
		from searchList 
		where p_name like upper('%'||#{keyword}||'%') or
			  p_code like '%'||#{keyword}||'%' or 
			  p_content like upper('%'||#{keyword}||'%') or
			  p_category1 like upper('%'||#{keyword}||'%') or
			  p_category2 like upper('%'||#{keyword}||'%') or
			  p_category3 like upper('%'||#{keyword}||'%'))
	</select> -->
	
	<select id="getProduct" resultType="com.spring.domain.ProductVO">
		select * from product where p_code = #{code}
	</select>
	
	<select id="searchCategoryList" resultType="com.spring.domain.ProductVO">
		select * 
		from product 
		where
			<if test="category2==null">
				p_category1 = #{category1}
			</if> 
			<if test="category2!=null and category3==null">
				p_category1 = #{category1} and p_category2 = #{category2}
			</if>
			<if test="category3!=null">
				p_category1 = #{category1} and p_category2 = #{category2} and p_category3 = #{category3}
			</if>
	</select>
	
	<select id="searchCategory2" resultType="string">
		select distinct p_category2 
		from product 
		where p_category1 = #{category1} 
		order by p_category2 ASC
	</select>
	
	<select id="searchCategory3" resultType="string">
		select distinct p_category3 
		from product 
		where p_category2 = #{category2} and p_category1 = #{category1} 
		order by p_category3 ASC
	</select>
	
	<select id="searchKeyword" resultType="com.spring.domain.ProductVO" parameterType="java.util.List">
		select * from product where p_code in
		(select p_code 
		from searchList 
		where
		<foreach collection="keywordList" item="keyList" separator=" or ">
			p_name like upper('%'||#{keyList}||'%') or
			  p_code like '%'||#{keyList}||'%' or 
			  p_content like upper('%'||#{keyList}||'%') or
			  p_category1 like upper('%'||#{keyList}||'%') or
			  p_category2 like upper('%'||#{keyList}||'%') or
			  p_category3 like upper('%'||#{keyList}||'%')
		</foreach>
		)
	</select>

	<!-- 상품 등록 sql -->
	<insert id="addProduct">
		insert into product(p_code,p_name,p_price,p_stock,p_content) values(#{p_code},#{p_name},#{p_price},#{p_stock},#{p_content})
	</insert>

	<!-- 장바구니 담는 sql -->
	<insert id="addCart">
		insert into cartTBL(cartNum,email,p_code,cartStock) values(cart_seq.nextval,#{email},#{p_code},#{cartStock})
	</insert>
</mapper>